@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  font-size: 1.6rem;
  padding-bottom: 10rem;
}
body header {
  height: 10rem;
  width: 100%;
  background-color: #222;
  color: whitesmoke;
  font-family: "Yusei Magic", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3rem;
}
body header button {
  color: whitesmoke;
  font-family: "Yusei Magic", sans-serif;
  cursor: pointer;
}
body #container {
  height: 100%;
  width: 100%;
  display: flex;
}
body #container aside {
  height: 100%;
  width: 30rem;
  background-color: #ddd;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
}
body #container aside h2,
body #container aside h3,
body #container aside button {
  font-family: "Rubik", sans-serif;
  font-size: 2.2rem;
}
body #container aside #section-one-sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem;
}
body #container aside #section-one-sidebar div button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
body #container aside #section-one-sidebar div img {
  height: 3rem;
  width: 3rem;
}
body #container aside #section-two-sidebar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3rem;
}
body #container aside #section-two-sidebar div button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
body #container aside #section-two-sidebar div img {
  height: 3rem;
  width: 3rem;
}
body #container main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}
body #container main form {
  background-color: #ddd;
  height: 8rem;
  width: 80rem;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding-left: 3rem;
}
body #container main form input[type=text] {
  background-color: whitesmoke;
  color: #222;
  border-radius: 1rem;
  width: 30rem;
  height: 5rem;
  padding: 1rem;
}
body #container main form input[type=date] {
  background-color: whitesmoke;
  color: #222;
  border-radius: 1rem;
  width: 15rem;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
body #container main form #button-cancel-form {
  background-color: red;
  height: 5rem;
  width: 10rem;
  border-radius: 2rem;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container main form #button-send-form {
  cursor: pointer;
  background-color: green;
  height: 5rem;
  width: 10rem;
  font-family: "Rubik", sans-serif;
  font-size: 2.2rem;
  border-radius: 2rem;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #container main button {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 2.2rem;
  display: flex;
  gap: 1.5rem;
}
body #container main img {
  height: 3rem;
  width: 3rem;
}
body footer {
  background-color: #222;
  height: 8rem;
  width: 100%;
  bottom: 0;
  font-family: "Yusei Magic", sans-serif;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
body footer a {
  fill: whitesmoke;
  height: 5rem;
  width: 5rem;
  transition: 0.8s;
}
body footer a:hover {
  fill: #9361FF;
  transform: rotate(360deg);
  transition: 0.8s;
}

/*# sourceMappingURL=style.css.map */
